# Visual Studio Code Settings
.vscode/

# Test-Docs.ps1 related files
nuget.exe
*.nupkg
apidoc.exe
*.dll
.vs/
.DS_Store

# Unotes related files
.unotes/
api-reference/beta/includes/snippets/powershell/patch-chatmessage-4-powershell-snippets.md
includes/snippets/powershell/tutorial-configure-saml-sso-create-claimsmappingpolicy-powershell-snippets.md
