################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/microsoft-graph-docs/v15/.suo
/.vs/Files/v14/.suo
/ClassLibrary1/.vs/ClassLibrary1/v14/.suo
/ClassLibrary1/Class1.cs
/ClassLibrary1/ClassLibrary1.csproj
/ClassLibrary1/ClassLibrary1.csproj.user
/ClassLibrary1/ClassLibrary1.sln
/ClassLibrary1/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/Files.sln
/Files.csproj.user
/Files.csproj
/ClassLibrary1/Properties/AssemblyInfo.cs
/ClassLibrary1/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/ClassLibrary1/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/ClassLibrary1/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
