# Visual Studio Code Settings
.vscode/

# Test-Docs.ps1 related files
nuget.exe
*.nupkg
apidoc.exe
*.dll
.vs/
.DS_Store

# Unotes related files
.unotes/
api-reference/beta/includes/snippets/powershell/patch-chatmessage-4-powershell-snippets.md
includes/snippets/powershell/tutorial-configure-saml-sso-create-claimsmappingpolicy-powershell-snippets.md
api-reference/v1.0/resources/verifieddomain-Mobani-Win10.md
api-reference/v1.0/api/workbookrange-rowsabove-Mobani-Win10.md
api-reference/v1.0/api/workbookrange-columnsbefore-Mobani-Win10.md
api-reference/v1.0/api/workbookrange-columnsafter-Mobani-Win10.md
api-reference/v1.0/api/userteamwork-teamsappinstallation-upgrade-Mobani-Win10.md
api-reference/v1.0/api/samlorwsfedexternaldomainfederation-update-Mobani-Win10.md
api-reference/v1.0/api/rangesort-apply-Mobani-Win10.md
api-reference/v1.0/api/rangeformat-update-Mobani-Win10.md
api-reference/v1.0/api/rangeformat-list-borders-Mobani-Win10.md
api-reference/v1.0/api/rangeformat-get-Mobani-Win10.md
api-reference/v1.0/api/rangefont-update-Mobani-Win10.md
api-reference/v1.0/api/rangefont-get-Mobani-Win10.md
api-reference/v1.0/api/rangefill-update-Mobani-Win10.md
api-reference/v1.0/api/rangefill-get-Mobani-Win10.md
api-reference/v1.0/api/rangefill-clear-Mobani-Win10.md
api-reference/v1.0/api/rangeborder-update-Mobani-Win10.md
api-reference/v1.0/api/rangeborder-list-Mobani-Win10.md
api-reference/v1.0/api/rangeborder-get-Mobani-Win10.md
api-reference/v1.0/api/range-unmerge-Mobani-Win10.md
api-reference/v1.0/api/range-lastrow-Mobani-Win10.md
api-reference/v1.0/api/range-lastcolumn-Mobani-Win10.md
api-reference/v1.0/api/range-lastcell-Mobani-Win10.md
api-reference/v1.0/api/formatprotection-update-Mobani-Win10.md
api-reference/v1.0/api/formatprotection-get-Mobani-Win10.md
api-reference/v1.0/api/educationschool-list-administrativeunit-Mobani-Win10.md
api-reference/v1.0/api/educationschool-delete-classes-Mobani-Win10.md
api-reference/v1.0/api/educationclass-delete-teachers-Mobani-Win10.md
api-reference/v1.0/api/educationclass-delete-members-Mobani-Win10.md
api-reference/v1.0/api/connectedorganization-list-internalsponsors-Mobani-Win10.md
api-reference/v1.0/api/connectedorganization-list-externalsponsors-Mobani-Win10.md
api-reference/v1.0/api/channel-doesuserhaveaccess-Mobani-Win10.md
api-reference/v1.0/api/bundle-removeitem-Mobani-Win10.md
api-reference/v1.0/api/bundle-additem-Mobani-Win10.md
api-reference/v1.0/api/b2xidentityuserflow-put-apiconnectorconfiguration-Mobani-Win10.md
api-reference/v1.0/api/b2xidentityuserflow-get-apiconnectorconfiguration-Mobani-Win10.md
api-reference/v1.0/api/b2xidentityuserflow-delete-identityproviders-Mobani-Win10.md
api-reference/v1.0/api/authenticationstrengthroot-delete-policies-Mobani-Win10.md
api-reference/v1.0/api/authenticationstrengthpolicy-delete-combinationconfigurations-Mobani-Win10.md
api-reference/v1.0/api/administrativeunit-get-members-Mobani-Win10.md
api-reference/beta/resources/sharepointsettings-Mobani-Win10.md
api-reference/beta/resources/onedrive-Mobani-Win10.md
api-reference/beta/resources/callrecords-mediastream-Mobani-Win10.md
api-reference/beta/api/worksheet-post-tables-Mobani-Win10.md
api-reference/beta/api/workbookworksheet-list-pivottables-Mobani-Win10.md
api-reference/beta/api/workbookrange-rowsabove-Mobani-Win10.md
api-reference/beta/api/workbookrange-columnsbefore-Mobani-Win10.md
api-reference/beta/api/workbookrange-columnsafter-Mobani-Win10.md
api-reference/beta/api/workbookpivottable-refreshall-Mobani-Win10.md
api-reference/beta/api/workbookpivottable-refresh-Mobani-Win10.md
api-reference/beta/api/workbookpivottable-get-Mobani-Win10.md
api-reference/beta/api/workbook-post-tables-Mobani-Win10.md
api-reference/beta/api/windowsupdates-updatableassetgroup-list-members-Mobani-Win10.md
api-reference/beta/api/userteamwork-teamsappinstallation-upgrade-Mobani-Win10.md
api-reference/beta/api/user-reminderview-Mobani-Win10.md
api-reference/beta/api/user-post-approleassignments-Mobani-Win10.md
api-reference/beta/api/unifiedroledefinition-assignedprincipals-Mobani-Win10.md
api-reference/beta/api/tenantrelationship-findtenantinformationbydomainname-Mobani-Win10.md
api-reference/beta/api/security-emailthreatsubmission-review-Mobani-Win10.md
api-reference/beta/api/samlorwsfedexternaldomainfederation-update-Mobani-Win10.md
api-reference/beta/api/rbacapplication-roleschedules-Mobani-Win10.md
api-reference/beta/api/rbacapplication-rolescheduleinstances-Mobani-Win10.md
api-reference/beta/api/rangesort-apply-Mobani-Win10.md
api-reference/beta/api/rangeformat-list-borders-Mobani-Win10.md
api-reference/beta/api/rangeformat-get-Mobani-Win10.md
api-reference/beta/api/rangefont-update-Mobani-Win10.md
api-reference/beta/api/rangefont-get-Mobani-Win10.md
api-reference/beta/api/rangefill-update-Mobani-Win10.md
api-reference/beta/api/rangefill-get-Mobani-Win10.md
api-reference/beta/api/rangefill-clear-Mobani-Win10.md
api-reference/beta/api/rangeborder-update-Mobani-Win10.md
api-reference/beta/api/rangeborder-list-Mobani-Win10.md
api-reference/beta/api/rangeborder-get-Mobani-Win10.md
api-reference/beta/api/range-unmerge-Mobani-Win10.md
api-reference/beta/api/range-lastrow-Mobani-Win10.md
api-reference/beta/api/range-lastcolumn-Mobani-Win10.md
api-reference/beta/api/range-lastcell-Mobani-Win10.md
api-reference/beta/api/profile-post-publications-Mobani-Win10.md
api-reference/beta/api/profile-post-educationalactivities-Mobani-Win10.md
api-reference/beta/api/profile-post-awards-Mobani-Win10.md
api-reference/beta/api/profile-post-anniversaries-Mobani-Win10.md
api-reference/beta/api/phoneauthenticationmethod-enablesmssignin-Mobani-Win10.md
api-reference/beta/api/phoneauthenticationmethod-disablesmssignin-Mobani-Win10.md
api-reference/beta/api/onpremisespublishingprofile-update-Mobani-Win10.md
api-reference/beta/api/networkaccess-policylink-list-policy.md
api-reference/beta/api/meetingregistration-post-customquestions-Mobani-Win10.md
api-reference/beta/api/meetingregistration-list-customquestions-Mobani-Win10.md
api-reference/beta/api/manageddevice-bulkreprovisioncloudpc-Mobani-Win10.md
api-reference/beta/api/industrydata-yeartimeperioddefinition-post-Mobani-Win10.md
api-reference/beta/api/homerealmdiscoverypolicy-update-Mobani-Win10.md
api-reference/beta/api/homerealmdiscoverypolicy-post-homerealmdiscoverypolicies-Mobani-Win10.md
api-reference/beta/api/group-post-approleassignments-Mobani-Win10.md
api-reference/beta/api/formatprotection-update-Mobani-Win10.md
api-reference/beta/api/formatprotection-get-Mobani-Win10.md
api-reference/beta/api/educationschool-delete-users-Mobani-Win10.md
api-reference/beta/api/educationschool-delete-classes-Mobani-Win10.md
api-reference/beta/api/educationclass-delete-teachers-Mobani-Win10.md
api-reference/beta/api/educationclass-delete-members-Mobani-Win10.md
api-reference/beta/api/directoryobject-validateproperties-Mobani-Win10.md
api-reference/beta/api/channel-doesuserhaveaccess-Mobani-Win10.md
api-reference/beta/api/call-logteleconferencedevicequality-Mobani-Win10.md
api-reference/beta/api/bundle-removeitem-Mobani-Win10.md
api-reference/beta/api/bundle-additem-Mobani-Win10.md
api-reference/beta/api/bookingstaffmember-update-Mobani-Win10.md
api-reference/beta/api/bookingbusiness-post-staffmembers-Mobani-Win10.md
api-reference/beta/api/b2xidentityuserflow-put-apiconnectorconfiguration-Mobani-Win10.md
api-reference/beta/api/b2xidentityuserflow-get-apiconnectorconfiguration-Mobani-Win10.md
api-reference/beta/api/b2xidentityuserflow-delete-identityproviders-Mobani-Win10.md
api-reference/beta/api/b2cidentityuserflow-put-apiconnectorconfiguration-Mobani-Win10.md
api-reference/beta/api/authenticationstrengthroot-delete-policies-Mobani-Win10.md
api-reference/beta/api/authenticationstrengthpolicy-delete-combinationconfigurations-Mobani-Win10.md
api-reference/beta/api/authenticationmethod-resetpassword-Mobani-Win10.md
api-reference/beta/api/application-removepassword-Mobani-Win10.md
api-reference/beta/api/application-removekey-Mobani-Win10.md
api-reference/beta/api/accessreviewinstancedecisionitem-recordalldecisions-Mobani-Win10.md
